*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root{
   --bgColor : #000ED5;
   --color: #fff;
}
main {
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;


}
.toggle {
   position: relative;
   width: 4rem;
   height: 4rem;
   background: var(--bgColor);
   border-radius: 5px;   
   display: flex;
   justify-content: center;
   align-items: center;
   transition: .4s ease-in-out;
   cursor: pointer;
}

.toggle span {
   position: absolute;
   width: 45px;
   height: 5px;
   background: var(--color);
   border-radius: 10px;
   transition: .4s;
}
/* Span 1 */
.toggle span:nth-child(1){
   transform: translateY(-13px);
   
}

.toggle:hover span:nth-child(1){
   width: 25px;
}
/* Span 2 */
.toggle span:nth-child(2){
   transform: translateY(13px);
   
  
}
.toggle:hover span:nth-child(2) {
   width: 25px;

}
/* Span 3 */
.toggle span:nth-child(3){
}







